* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background: #1D1929;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: white;
  margin-bottom: 2em;
  font-size: 2em;
}

.form {
  display: flex;
  background-color: #bab2d1;
  height: 60%;
  width: 60%;
  border-radius: 5%;
  padding: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}

.MuiButton-root {
 margin-top: 1em !important;
}